*
{
    box-sizing: border-box;
}
.last
{
    display: flex;
    flex-direction: row;
    gap: 13px;
    align-items: center;
    justify-content: center;
}
.para{
    font-size: 3rem;
}
.last a{
    font-size: 2rem;
}
.card
{
    /* border: solid red; */
    width:632px;
    height: 555px;
}
.cards-container
{
    /* border: solid blue; */
    display: grid;
    grid-template-columns: 1fr 1fr 1fr ;
    grid-template-rows: auto;
    /* margin-left: 10px; */
}

.card-content:hover{
    transition: transform .2s; /* Animation */
    
  }
.card-content:hover
{
    transform: scale(1.01);
}
.card-header
{
    
    /* border: solid blue; */
    padding: 2% 2%;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}
.card-header img
{
    width: 610px;
    height: 370px;
    border-radius: 2%;
}
.card-header img:hover
{
    transform: scale(1.01);
}