*
{
    box-sizing: border-box;
    /* font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; */
}
div
{
    border: solid red;
    margin-left: 20%;
}
.input-form
{
    border: solid rebeccapurple;
}