<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Stress Calculator</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/css/styles.css">
    <!-- <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script> -->
    <!-- <link rel="stylesheet" href="/static/css/style.css"> -->
    
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="index.html">StressManager</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <a class="nav-link" href="index.html">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="calculate.html">Calculate</a>
            </li>
            <!-- <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Dropdown
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="#">Action</a>
                <a class="dropdown-item" href="#">Another action</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="#">Something else here</a>
              </div>
            </li>
            <li class="nav-item">
              <a class="nav-link disabled" href="#">Disabled</a>
            </li>-->
          </ul>
          
        </div>
      </nav>
     
      </nav>
    <div class="home">
        <h1>Please enter your Levels -</h1>
        <p>Note !! Please enter as High,Medium,Low</p>
        <!-- Form for collecting input data -->
        <form action='/predict' method="post" class="input-form">
            <!-- Input fields for various parameters -->
            <input type="text" name="snoring_range" placeholder="Snoring Range" required="required" /><br>
            <input type="text" name="respiration_rate" placeholder="Respiration Rate" required="required" /><br>
            <input type="text" name="temperature" placeholder="Body Temperature" required="required" /><br>
            <input type="text" name="blood_oxygen" placeholder="Blood Oxygen" required="required" /><br>
            <input type="text" name="sleep" placeholder="Sleep" required="required" /><br>
            <input type="text" name="heart_rate" placeholder="Heart Rate" required="required" /><br>
    
            <!-- Submit button to trigger prediction -->
            <button type="submit" class="btn btn-primary btn-block btn-large">Predict</button>
        </form>
    </div>
</body>
</html>