<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Correctly linking to CSS file -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{ url_for('static',filename='css/styles2.css') }}">
    <!-- <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script> -->
    <!-- <link rel="stylesheet" href="/static/css/style.css"> -->
    <!-- Correctly linking to JavaScript file -->
    <script src="/static/style.js" defer></script>
    <title>Stress Model</title>
</head>
<body>
  <div class="nav-bar">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <a class="navbar-brand" href="#">Stressmanager</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <a class="nav-item nav-link active" href="#">Home <span class="sr-only">(current)</span></a>
          <a class="nav-item nav-link" href="calculate.html">Calculate</a>
          <!-- <a class="nav-item nav-link" href="#">Pricing</a> -->
          <!-- <a class="nav-item nav-link disabled" href="#">Disabled</a> -->
        </div>
      </div>
    </nav>
  </div>
  <div class="card-container">
    
  </div>
  <main>
    <div class="cards-container container flex" id="cards-container">
        
    </div>
</main>

<template id="template-news-card">
    <div class="card">
        <div class="card-header">
            <img src="https://via.placeholder.com/400x200" alt="news-image" id="news-img">
        </div>
        <div class="card-content">
            <h3 id="news-title">This is the Title</h3>
            <h6 class="news-source" id="news-source">End Gadget 26/08/2023</h6>
            <p class="news-desc" id="news-desc">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Recusandae saepe quis voluptatum quisquam vitae doloremque facilis molestias quae ratione cumque!</p>
        </div>
    </div>
</template>
    
</body>
</html>
